extends /views/projects/_demo

block project
    script(src="/javascripts/projects/poemgenerator/poemGeneratorHelper.js")
                    
    .row.ml-1.mb-3
        button.btn.btn.btn-light.border-secondary(type="button" onclick="getPoem();")
            h5 New Poem
    .row#poems
                