doctype html
html
  head
    title= page
    link(rel="stylesheet" href="/stylesheets/lib/bootstrap.css")
    script(src="/javascripts/lib/jquery.min.js")
    script(src="/javascripts/lib/popper.min.js")
    script(src="/javascripts/lib/bootstrap.min.js")
    link(rel="stylesheet" href="/stylesheets/custom.css")
    link(href="/stylesheets/lib/roboto.css" rel="stylesheet")
  body.bg-light.container
    .row.justify-content-between.border-bottom.border-secondary.py-2.px-4
      
      div.w-100.w-auto-sm.text-center
        h1.m-0.text-primary= page

      div.w-100.w-auto-sm.text-center
        nav.navbar.d-inline-block-sm.pb-0.justify-content-center
          a(href= "/about" class= section === "About" ? "active" : "inactive").nav-link.px-4.border-right.border-secondary About
          a(href= "/projects" class= section === "Projects" ? "active" : "inactive").nav-link.px-4.border-right.border-secondary Projects
          a(href= "/resume" class= section === "Resume" ? "active" : "inactive").nav-link.px-4.border-right.border-secondary Resume
          a(href= "/art" class= section === "Art" ? "active" : "inactive").nav-link.px-4 Art

    block content
