extends layout

block content

    .row.mt-lg-4.mt-2
        .col-5.d-none.d-lg-block
            img(src="/images/bio6.jpg").img-fluid

        .col.p-4.col-7-lg.text-justify
            div.w-100.text-center.mb-3
                h2.text-primary About
            p.mt-4.text-dark Hi! My name is Eli, and I'm a first year Computer Science student at UMass Amherst in Amherst, Massachusetts. I went to highschool in Cambridge Rindge and Latin School in Cambridge, Massachusetts, where I grew up.
            p.text-dark I love practical applications of programming that bring the power of computer science to the public, but I also think abstract algorithms are super interesting. I'm always looking for new projects and collaboration opportunities. Feel free to contact me! 
            table.text-primary.table.text-center.border-bottom.mt-4
                tr
                    td (617) 512-4562
                    td esbildman@gmail.com
