doctype html
html.full
  head
    title= page
    link(rel="stylesheet" href="/stylesheets/lib/bootstrap.css")
    script(src="/javascripts/lib/jquery.min.js")
    script(src="/javascripts/lib/popper.min.js")
    script(src="/javascripts/lib/bootstrap.min.js")
    link(rel="stylesheet" href="/stylesheets/custom.css")
    link(href="stylesheets/lib/roboto.css" rel="stylesheet")
  body.bg-light.full
    .full-image.full
      .info
        h1.text-primary Eli Bildman

        .secondary-text.text-muted
          h4 Computer Science Student | UMass Amherst

          h6 esbildman@gmail.com | (617) 512-4562

        br
        div.float-right
          a(href= "/about")
            button.btn.border.border-primary.float-right.text-primary
              b Enter Site


    