extends layout

block content

    .row

        .col-8.mt-4.mx-auto
            img(src= "/images/resumes/resume.png").img-fluid.border.border-dark
            .row.p-3
                
                h4.d-inline.mr-3 Download as:
                
                a(href="/images/resumes/resume.pdf" download).mx-1.btn.border-dark PDF
                a(href="/images/resumes/resume.png" download).mx-1.btn.border-dark PNG
