extends project_desc

block description
    h1.text-primary Overview
    p.text-dark This is a wallpaper generator I wrote in python. It uses heavily the Python Image Library, or Pillow, as well as a goemetry library I wrote myself. I made this project to explore the possibilities of a geometry library, and because I wanted to crate something colorful. I ended up finding the generalizing of geometrical patterns very interesting.

    h1.text-primary Point
    p.text-dark A point is the simplist set of geometric data. A point has an X coordinate and a Y coordinate (in 2 dimensional space). In code, points can be represented as a 2D touple.
    p.text-dark In the wallpaper generator, to render a point, the X and Y values are rounded to their nearest integer to fit into the grid system of a screen.

    h1.text-primary Line
    p.text-dark A line consists of two points, and the infinite set of points that lie directly betwen them. 

    h1.text-primary Triangle
    p.text-dark Triangles are three points, and three lines connecting them. They contain all the area set withing their lines.

    h1.text-primary NGon