extends project_desc

block description
    div
        h2.text-primary Overview
        p.text-dark.d-inline This website was built using a combination of
        | 
        a(href="https://nodejs.org/en/").d-inline Node.js
        p.d-inline ,
        | 
        a(href="https://expressjs.com/").d-inline Express
        p.d-inline , and
        | 
        a(href="https://getbootstrap.com/").d-inline Bootstrap
        p.d-inline . I learned all of it from this video.

        iframe(width="560" height="315" src="https://www.youtube.com/embed/gnsO8-xJ8rs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).mt-5