extends /views/_layout

block content

    .navbar.navbar-primary.navbar-expand
        ul.mr-auto.navbar-nav
            li.nav-item
                a(href="").nav-link
                    h4 Demo
            li.nav-item
                a(href= desc_link class= desc_link != null ? "" : "d-none").nav-link.inactive
                    h4 Description

    block project
    